.filter {
    height: 110px;
    background-color: #ffffff;
    padding: 20px 15px;
}
.booking-info-header {
    text-align: left;
    font: normal normal normal 17px/20px Roboto;
    letter-spacing: 0px;
    color: #6FAA00;
    opacity: 1;
    padding-bottom: 15px;
}
.brand-name {
    text-align: left;
    font: normal normal bold 35px/41px Roboto;
    letter-spacing: 0px;
    color: #183544;
    opacity: 1;
    flex-grow: 1;
}
.shops-section {
    min-height: calc(100vh - 174px);
    background-color: #ECF2F5;
    padding: 15px;
}
.shops-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-gap: 15px;
}
.shop-grid-item {
    height: 108px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    padding: 12px;
    display: flex;
}
.img {
    height: 84px;
    width: 84px;
}
.info {
    width: 70%;
}
.shop-names {
    text-align: left;
    font: normal normal normal 18px/20px Roboto;
    letter-spacing: 0px;
    color: #183544;
    opacity: 1;
}
.shop-address {
    text-align: left;
    font: normal normal normal 14px/16px Roboto;
    letter-spacing: 0px;
    color: #183544;
    opacity: 1;
}
.branch-names {
    text-align: left;
    font: normal normal normal 12px/20px Roboto;
    letter-spacing: 0px;
    color: #7D909A;
    opacity: 1;
}