.add-bracnch-section {
    min-height: calc(100vh - 64px);
    background-color: #ECF2F5;
    padding: 15px;
    display: flex;
}
.branch-details {
    width: 40%;
    padding: 15px;
}
.slot-settings {
    width: 60%;
    background-color: #ffffff;
    padding: 15px;
}