
.login-wrapper {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
}

.left-panel {
    flex: 66% 1;
    background-image: url('../../assets/images/bgImage.svg');
    background-repeat: repeat-x;
    background-size: cover;
}

.login-logo {
    position: fixed;
    left: 100px;
    top: 150px;
    background-repeat: no-repeat;
    width: 250px;
    height: 45px;
}

.right-panel {
    flex: 34%;
    margin: auto;
    margin: 2.5% 5%;
    text-align: start;
}

.right-panel-title {
    font-size: 22px;
    color: #183544;
    padding-bottom: 25px;
}

.field-label {
    color: #7d909a;
    font-size: 14px;
}

.phone-input {
    border: none;
}

.phone-input:focus {
    border: none;
    outline: none;
}

.input-wrapper {
    border: 1px solid #7d909a;
    border-radius: 6px;
    width: 200px;
    padding: 5px 10px;
}

.hyperlink-wrapper {
    color: #183544;
    font: 14px;
}

.hyperlink-wrapper a {
    color: #183544;
    font-weight: 700;
    color: #183544;
}

.partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
  }

  .partitioned:focus {
    border: none;
    outline: none;
  }
  
  .divInner{
    left: 0;
    position: sticky;
  }
  
  .login-btn {
    width: 100%;
    background-color: #C0D000;
    box-shadow: 0px 3px 6px #00000029;
    padding: 8px 80px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  #otp-input-root {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
    #otp-input-root input {
    width: 35px !important;
    height: 32px;
    text-align: center;
    margin-right: 20px;
    border: 1px solid #d9d9d9;
  }